.content {
    display: block;
    margin-left: 30vw;
    margin-top: 5vw;
    width: 68.5vw;
    height: 80vh;
    justify-content: center;
  text-align: center;
  border-bottom: 1px solid;

}
.contentInfo {
    display: block;
    margin-left: 30vw;
    margin-top: 5vw;
    width: 68.5vw;

    height: 60vh;
    justify-content: center;
  text-align: center;
  border-bottom: 1px solid;
 
}
h1{
    color: rgb(0, 0, 0);
    font-family: 'Press Start 2P';
    margin-bottom: 50%;
}
.tecnologys{
    display: flex;
  
    justify-content: center;
    
   margin-top: 2%;
}
.tecno{
    display: block;
    justify-content: center;
    text-align: center;
    padding: 10px;
    width: 190px;
    height: 180px;
    
   

}
.tecno img{
    width: 150px;
    height: 150px;
    background:none;
  
}
.tecno p{
    padding: 10px;
    
    font-family: 'Press Start 2P';
}

.svg-tecno{
    
    filter: drop-shadow(
        0px 0px 40px rgb(255, 255, 255)
     );
     
    width: 150px;
    height: 150px;
}


.button-dark-light-mode{
    position: fixed;
    bottom:80px;
    right: 20px;
    z-index: 9999;

    padding: 10px;
}

@media screen and (max-width : 899px) {
    .content{
        display: block;
        color: black;
        margin-top: 25%;
        width: 100vw;
        height: auto;
        justify-content: start;
        margin-left: 0vw;
      text-align: center;
      border-bottom: 1px solid;
    
  
    }
    .contentInfo {
        display: block;
        margin-left: 0vw;
        margin-top: 60vw;
        width: 100vw;
        height: auto;
        justify-content: center;
      text-align: center;
      border-bottom: 1px solid;
     
    }
    .tecno img{
        width: 100px;
        height: 100px;
        background:none;
    }
    .svg-tecno{
    
        filter: drop-shadow(
            0px 0px 40px rgb(255, 255, 255)
         );
         
        width: 100px;
        height: 100px;
    }
    
}
