.bodyproyects {
    display: block;
    margin-left: 30vw;
    margin-top: 5vw;
    width: 68.5vw;
   height: auto; 
    justify-content: center;
  text-align: center;
  align-items: center;
  
  
 

}
.typeproyect{
    display:flex;
  
    justify-content: center;
}
.proyect{
    display: block;
    align-items: center;
    justify-content: center;

    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 10%;
}
.containercards{
    display: flex;
    justify-content: center;
   
    align-items: center;
    margin: 5%;
   
}
.figma{
    margin-left: 2%;
    margin-right: 2%;
}

.end{
    background-color: black;
    color: white;
    margin-left: 25vw;
    margin-top: 5vw;
    width: 73.5vw;
    text-align: center;
  
    height: 50vh; 
}
.end h1{
    padding: 100px;
    font-family: 'Press Start 2P';
}

@media screen and (max-width : 899px){
    .bodyproyects {
      display: block;
      margin-left: 0vw;

      margin-top: 25%;
      width: auto;
      height: auto;
      justify-content:center;
    text-align: center;
    border-bottom: 1px solid;

    }
   .end{
    background-color: rgb(0, 0, 0);
    color: white;
    margin-left: 0%;
    margin-top: 5vw;
    width: 100vw;
    height: 10%;
    text-align: center;
  
   
   }
   .proyect{
    display: block;
    align-items: center;
    justify-content: center;
    width: auto;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 10%;
}
   .containercards{
    display: block;
    justify-content: center;
   
    align-items: center;
    margin: 3%;
  
}
.typeproyect{
    display:block;
  
    justify-content: center;
}
  }